{
  "type": "minecraft:crafting_shaped",
  "pattern": [
    "III",
    "III",
    "III"
  ],
  "key": {
    "I": "minecraft:copper_ingot"
  },
  "result": {
    "id": "<modid>:<block_name>",
    "count": 1
  }
}